* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* STELLE */
#stars {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* METEORITE */
#meteor {
  position: fixed;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(circle, red 0%, darkred 70%);
  box-shadow: 0 0 30px red, 0 0 70px orange;
  z-index: 2;
}

/* BOTTONI */
#buttons {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 18px 40px;
  font-size: 20px;
  background: black;
  color: red;
  border: 2px solid red;
  border-radius: 14px;
  box-shadow: 0 0 15px red;
}

button:active {
  transform: scale(0.95);
}
